.animatedContainer {
  height: 0;
  overflow: hidden;

  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;

  transition: height 0.25s ease, visibility 0.25s,
    transform 0.25s ease;
}

.animatedContainer[aria-expanded="true"] {
  height: auto;
  visibility: visible;
  transform: scaleY(1);
}